.hero-img-home {
  background: linear-gradient(to bottom, rgba(153,147,146,0.53) 0%,rgba(214,202,201,0.48) 50%,rgba(239,211,210,0.42) 100%), url('./sea-salt-in-white-bowls.jpg');
}

.store-button {
  height: 2rem;
  width: 160px;
  padding: .6rem;
  margin-top: 40vh;
  margin-left: 66vw;
  border-radius: 16px;
  background-color: rgb(240, 225, 220);
  box-shadow: 2px 2px 3px rgba(10, 5, 5, .6);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(46, 30, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: font-weight .2s .05s;
  transition: font-size .2s .05s;
}

.store-button:hover {
  font-weight: 800;
  font-size: 1.8rem;
}

/* home page - tablet styles  */

@media only screen and ( max-width: 1024px) {
  .store-button {
    margin: 40vh auto 0 auto;
    height: 3rem;
    width: 200px;
    font-size: 2rem;
  }
}

/* home page - mobile styles  */
@media only screen and ( max-width: 510px ) {

  .store-button {
    margin: 45vh auto 0 auto;
  }
}
