/* universal styling */

.container {
  width: 967px;
  margin-left: auto;
  margin-right: auto;
}

.img-float-left {
  float: left;
}

.img-float-right {
  float: right;
}

.header {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.2em;
  font-weight: 800;
}

.story-para {
  font-family: 'Quicksand', sans-serif;
  margin-top: 2.4rem;
  line-height: 2rem;
}

.reader {
  position: absolute;
  right: 9999px;
}

/* universal styles - tablet */
@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
  
  .img-float-right {
    float: none;
  }
}

/* hero styles */

.hero {
  
  overflow: hidden;
  height: 38rem;
  width: 100%;
  box-shadow: 1px 1px 6px rgba(10, 5, 5, .6);
}

/* hero styles - tablet */
@media only screen and ( max-width: 1024px) {
  .hero {
    height: 76vh;
  }

  /* .hero-store {
    height: 40rem;
  } */
}

/* hero styles - mobile  */
@media only screen and ( max-width: 650px ) {
  .hero {
    height: 76vh;
  }

  /* .hero-store {
    height: 72vh;
  } */
}


.banner-img {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
