.hero-img-store {
  background: linear-gradient(to bottom, rgba(216,207,205,0.26) 0%,rgba(216,207,205,0.3) 50%,rgba(216,207,205,0.34) 100%), url('https://salt-store-backend.herokuapp.com/public/build/static/media/sea-salt-reserve-resort.jpg');
}

.hero-store {
  
  overflow: hidden;
  height: 30rem;
  width: 100%;
  box-shadow: 1px 1px 6px rgba(10, 5, 5, .6);
}



/* hero styles - tablet */
@media only screen and ( max-width: 1024px) {
  .hero-store {
    height: 40rem;
  }
}

/* hero styles - mobile  */
@media only screen and ( max-width: 650px ) {
  .hero-store {
    height: 72vh;
  }
}

/* store banner styling */

.store-banner-head, .store-banner-text {
  color: rgb(60, 80, 76);
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 1px 4px rgba(245, 250, 255, .9);
  font-weight: 700;
}

.store-banner {
  width: 60%;
  height: 12rem;
  margin: 8rem auto auto auto;
  padding: 1rem;
  background-color: rgba(240, 245, 250, .6);
}

.store-banner-head {
  font-size: 2rem;
  margin-bottom: .6rem;
}

.store-banner-text {
  font-size: 1.4rem;
}

/* store banner - tablet styling  */
@media only screen and ( max-width: 1024px ) {
  .store-banner {
    width: 80%;
    margin: 16rem auto auto auto;
  }
}

/* store banner - mobile styling  */
@media only screen and ( max-width: 510px ) {
  .store-banner {
    margin: 8rem auto auto auto;
  }
}

/* store item-view styling */

.store-frame {
  width: 967px;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

/* store frame - tablet styling  */
@media only screen and ( max-width: 1024px ) {
  .store-frame {
    width: 80%;
  }
}

.store-item {
  width: 24%;
  height: 400px;
  margin-bottom: 3rem;
}

.store-item:hover {
  box-shadow: 0px 0px 4px rgba(10, 15, 15, .6);
}

.item-pic {
  height: 300px;
  width: 100%;
  /* background-image: url('../media/joanna-kosinska-Prfs32wh-o4-unsplash.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-title, .item-description, .item-price {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.item-title, .item-price {
  margin-top: .6rem;
  color: rgb(10, 5, 5);
}

.item-description {
  color: rgb(120, 125, 130);
}

.item-price {
  font-weight: 800;
}


/* store-item - tablet styles  */
@media only screen and ( max-width: 1024px ) {
  .store-item {
    width: 44%;
  }
}

@media only screen and (max-width: 510px ) {
  .store-item {
    width: 96%;
  }
}

/* pagination styles */
.page-number-container {
  margin: none none 1.5rem 2rem;
  display: flex;
}

.page-number-container ul {
  list-style: none;
  display: flex;
}

.page-number-container a {
  color: blue;
  cursor: pointer;
  margin-right: .5rem;
  text-decoration: none;
}

.page-num {
  font-size: 1.2rem;
}

.current-page-num {
  font-weight: 700;
}

.number-selector {
  width: 3rem;
}